body {
    background-image: linear-gradient(#8D00FA, #C00BE3, #FD0DCB);
    font-family: 'Oswald', sans-serif; 
    border: none;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-logo {
    color: white;
    font-size: 60px;
    align-items: center;
    text-align: center;
    text-decoration: underline;
}

/* CSS styling for the Eat In page (search features) */

#user-search-input {
    padding: 0.75%;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 75%;
}

#btn-container {
    margin-left: auto;
    margin-right: auto;
}

.meal-option-names {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 3%;

}

.meal-links {
    color: blue; 
    font-weight: bold; 
    font-size: 16px; 
    text-decoration: underline; 
    line-height: 2.5;
}

#recipe-modal {
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
    overflow: scroll;
}

#recipe-close {
    float: right;
}

.error-message {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin-bottom: 5%;
}

/* CSS styling for the Tacos Tonight page */

.titles {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    text-align: center;
}

#taco-title {
    margin-bottom: 5%;
}

#hall-of-fame-container {
    flex-direction: column;
    justify-content: center;
}

#hof-title {
    margin-top: 8%;
    margin-bottom: 3%;
}

#hof-descr {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5%;
}

.hof-list-items {
    background-color: black; 
    color: white; 
    font-weight: bold; 
    padding: 2%; 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 3%; 
    text-align: center; 
    cursor: grab;
}

.taco-ingredient {
    margin-bottom: 5%;
}

#taco-results {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 5%;
}

.search-bar {
    margin: 20px;
    padding: 5px;
}

.search-bar input {
    width: 50%;
}

.random-btn {
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: black; 
    color: white;
    font-weight: bold;
}

.random-btn:hover {
    background-color: #FD0DCB;
}

.active {
    color: #FD0DCB;
}

#save-search-title {
    margin-bottom: 5%;
}

.modal {
    display:none;
    position:fixed;
    z-index: 1;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 60%;
    border: 8px solid rgb(66, 24, 94);
    border-radius: 20px;
    padding: 3%;
    overflow: auto;
  }

  #button-choices {
      display: flex;
      justify-content: center;
  }
  
  .close {
    color: white;
    background-color: black;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
  }

  /* About Us page styling */

  .about-us-container {
      color: white;
      text-align: center;
  }

  .about-us-container h1 {
      font-size: 30px;
  }

  .about-us-container h3 {
    font-size: 25px;
    margin-top: 5px;
  }

.about-us-container p {
    font-size: 20px;
    margin-top: 10px;
}

footer {
    border-top: 5px solid white;
    padding: 20px;
    
}


img {
    border-radius: 50%;
}

i {
    margin-left: 20px;
    margin-right: 20px;
}

.pics{
    float: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid grey;
    margin-top: 75px;
    margin-bottom: 20px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}
.flex-container > div{
    margin: 10px;
    padding: 30px;
    
}

    border-color: darkgray;
}

.logo-img {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    border-top: 5px solid white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: rgb(66, 24, 94);
    width: 100%;
}

#footer-relative {
    position: relative;
    bottom:0;
}

#footer-bottom {
    position: fixed;
    margin-top: 90%;
    bottom:0;
}
/* Social media icon links*/
.wrapper {
    display: flex;
    align-items: center;
  justify-content: center;
}

.wrapper .icon-button{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #C00BE3;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .icon-button:hover{
    width: 200px;
  }
  .wrapper .icon-button .icon{
    display: flex;
    color: white;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .icon-button:nth-child(1):hover .icon{
    background: #FD0DCB;
  }
  .wrapper .icon-button:nth-child(2):hover .icon{
    background: #FD0DCB;
  }
  .wrapper .icon-button:nth-child(3):hover .icon{
    background: #FD0DCB;
  }
  .wrapper .icon-button:nth-child(4):hover .icon{
    background: #FD0DCB;
  }
  .wrapper .icon-button:nth-child(5):hover .icon{
    background: #FD0DCB;
  }
  .wrapper .icon-button:nth-child(6):hover .icon{
    background: #FD0DCB;
  }
  .wrapper .icon-button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .icon-button:hover .icon i{
    color: #fff;
  }
  .wrapper .icon-button .icon-span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }

  .icon-span {
    color: white;
  }

.icon-anchor {
    color: white;
    text-decoration: none;
}

/* Email input */

.email-form {
    display: flex;
    align-items: center;
  justify-content: center;
    margin: 10px;
    
}

.email-input {
    flex-direction: row;
    color: #8D00FA;
    border-radius: 15px;
    border: 5px solid #C00BE3;
    width: 300px;
    height: 35px;
    margin-right: 10px;
    margin-top: 5px;
}

.email-btn {
    flex-direction: row;
    background-color: #C00BE3;
    color: white;
    padding: 8px;
    border-radius: 15px;
    height: 35px;
    width: 86px;
    margin-top: 5px;
}

/* Responsive design styling */

@media screen and (max-width: 768px) {
    .modal {
        left: 10%;
        width: 80%;
    }

    #recipe-modal {
        padding-bottom: 3.5%;
    }

    #search-input-eatin {
        flex-direction: column;
    }

    #user-search-input {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title-logo {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .wrapper {
        width: 100%;
    }

    .icon-span {
        display: none;
    }

    .wrapper .icon-button:hover{
        display: none;
      }

    .icon {
        align-items: center;
        justify-content: center;
    }
    .wrapper .icon-button{
        display: flex;
        height: 50px;
        width: 50px;
        margin: 0 5px;
      
      }
      #footer-relative {
        position: fixed;
        bottom:0;
    }
    .wrapper .icon-button .icon{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        line-height: 30px;
        
    }
    .email-input {
        border-radius: 15px;
        border: 5px solid #C00BE3;
        width: 247px;
        height: 35px;
        margin-top: 5px;
    }
}