body {
    background-image: linear-gradient(#8D00FA, #C00BE3, #FD0DCB); 
    border: none;
    width: 100%;
    height: 100%;
    /* background-image: inherit; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-bar {
    margin: 20px;
    padding: 5px;
}

.search-bar input {
    width: 50%;
}

.random-btn {
    margin: 20px;
   padding: 5px;
   border-radius: 25px;
   background-color: #C00BE3; 
   color: white;

}

.random-btn:hover {
    background-color: #FD0DCB;
}

footer {
    border-top: 5px solid white;
    padding: 20px;
    
}
